# CONFIG_ARM_EXYNOS_DEVFREQ_DEBUG is not set
# CONFIG_AUDIT is not set
# CONFIG_CMUCAL_DEBUG is not set
# CONFIG_CONTEXTHUB_DEBUG is not set
# CONFIG_CRYPTOCIPHER_DEBUG is not set
# CONFIG_CRYPTO_FIPS is not set
# CONFIG_DEBUG_KERNEL is not set
# CONFIG_DEVTMPFS is not set
# CONFIG_EXYNOS_FMP_FIPS is not set
# CONFIG_ION_DEBUG_EVENT_RECORD is not set
# CONFIG_KNOX_NCM is not set
# CONFIG_MALI_EXYNOS_DEBUG is not set
# CONFIG_MMC_DW_DEBUG is not set
# CONFIG_NET_SUPPORT_DROPDUMP is not set
# CONFIG_NTFS_FS is not set
# CONFIG_PM_DEBUG is not set
# CONFIG_SAMSUNG_LMKD_DEBUG is not set
# CONFIG_SBD_BOOTLOG is not set
# CONFIG_SCHED_DEBUG is not set
# CONFIG_SCSC_LOGRING is not set
# CONFIG_SCSC_LOG_COLLECTION is not set
# CONFIG_SCSC_MXLOGGER is not set
# CONFIG_SCSC_WIFILOGGER is not set
# CONFIG_SCSC_WLAN_MUTEX_DEBUG is not set
# CONFIG_SCSI_UFS_CMD_LOGGING is not set
# CONFIG_SEC_NFC_LOGGER is not set
# CONFIG_SEC_PM_DEBUG is not set
# CONFIG_SLUB_DEBUG is not set
# CONFIG_THINLTO is not set
# CONFIG_UFS_DATA_LOG is not set
# CONFIG_USB_DEBUG_DETAILED_LOG is not set
CONFIG_LD_DEAD_CODE_DATA_ELIMINATION=y
# CONFIG_LD_BFD is not set
# CONFIG_LD_GOLD is not set
CONFIG_LD_LLD=y
CONFIG_LTO=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_ARCH_SUPPORTS_THINLTO=y
CONFIG_ARCH_SUPPORTS_LTO_GCC=y
# CONFIG_LTO_NONE is not set
CONFIG_LTO_CLANG=y
